<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <httpHandlers>
      <add verb="*" path="*" type="PaynearmeCallbacks.PnmHttpHandler"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="PnmHttpHandler" verb="*" path="*" type="PaynearmeCallbacks.PnmHttpHandler" resourceType="Unspecified"/>
    </handlers>
  </system.webServer>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="pnm-csharp-bootstrap.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <param name="ImmediateFlush" value="true" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
</configuration>